/nbproject/
/target/
/Playlists/
/test/
*.json
*.txt
tmp/
docker/instances/*
!docker/instances/_template/
!docker/instances/_template/**
docker/instances/*/bot.env
docker-compose.generated.yml
nb*.xml
